/*
Flaticon icon font: Flaticon
Creation date: 23/01/2018 17:48
*/

@font-face {
  font-family: "Flaticon";
  src: url("./fonts/Flaticon.eot");
  src: url("./fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/Flaticon.woff") format("woff"),
       url("./fonts/Flaticon.ttf") format("truetype"),
       url("./fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./fonts/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: "Flaticon";
	font-style: normal;
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-minus-symbol:before { content: "\f100"; }
.flaticon-plus-symbol:before { content: "\f101"; }
.flaticon-buildings:before { content: "\f102"; }
.flaticon-search:before { content: "\f103"; }
.flaticon-up-arrow:before { content: "\f104"; }
.flaticon-commerce:before { content: "\f105"; }
.flaticon-sticker:before { content: "\f106"; }
.flaticon-mug:before { content: "\f107"; }
.flaticon-shirt:before { content: "\f108"; }

$font-Flaticon-minus-symbol: "\f100";
$font-Flaticon-plus-symbol: "\f101";
$font-Flaticon-buildings: "\f102";
$font-Flaticon-search: "\f103";
$font-Flaticon-up-arrow: "\f104";
$font-Flaticon-commerce: "\f105";
$font-Flaticon-sticker: "\f106";
$font-Flaticon-mug: "\f107";
$font-Flaticon-shirt: "\f108";