.single {
    margin: 0 0 0 2px;
    margin-top: 40px;
    width: 84px;
}
.swiper-container {
    // background-color: #000;
}
.swiper-slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery-top {
    height: 80% !important;
    width: 100%;
}
.gallery-thumbs {
    height: 20% !important;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}
.product-container {
    padding-bottom: 80px;
    .product-gallery {
        width: 50%;
        float: left;
        @include s960{
            width: 100%;
            float: none;
            margin: 0 auto;
        }
        .thumb {
            cursor: pointer;
        }
    }
    .product-info {
    width: 50%;
    float: left;
    @include s960{
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    font-family: 'Roboto', sans-serif;
    .info-item {
        padding: 20px 30px;
        .title {
        text-align: left;
        font-size: 30px;
        font-weight: 300;
        }
    }
    .price {
        padding: 50px 30px;
        font-size: 45px;
        font-weight: 500;
        color: #3d3d3d;
        p {
        display: inline-block;
        float: right;
        }
    }
    .amount {
        display: inline-block;
        float: left;
        .operators {
        cursor: pointer;
        color: #989898;
        font-size: 22px;
        -webkit-transition: opacity 0.5s ease-in; /* For Safari 3.1 to 6.0 */
        transition: opacity 0.5s ease-in;
        &:hover {
            opacity: 0.6;
        }
        }
        .amount-value {
        font-weight: 400;
        font-size: 22px;
        padding: 0 20px;
        }
    }
    .add-to-cart {
        float: right;
        margin-top: 20px;
        margin-right: 30px;
        color: $secondary-color;
        background-color: $primary-color;
        padding: 5px 50px;
        font-size: 20px;
        border: 2px solid $secondary-color;
        outline: 2px solid $primary-color;
        cursor: pointer;
        -webkit-transition: background-color 0.5s ease-in, border 0.5s ease-in, color 1s ease-in; /* For Safari 3.1 to 6.0 */
        transition: background-color 0.5s ease-in, border 0.5s ease-in, color 1s ease-in;
        &:hover {
        color: $primary-color;
        background-color: $secondary-color;
        border: 2px solid $primary-color;
        outline: 2px solid $secondary-color;
        }
        span {
        padding-right: 20px;
        font-size: 32px;
        vertical-align: middle;
        }
    }
    }
    .product-details {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 20px;
    h2 {
        font-size: 32px;
        line-height: 46px;
        font-weight: 500;
        border-bottom: 5px solid $primary-color;
        max-width: 320px;
        width: 100%;
    }
    .bold-divider {
        border-bottom: 5px solid $primary-color;
        max-width: 320px;
        width: 100%;
    }
    p {
        padding: 20px;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
    }
    }
}